version: '3.8'

services:
  app:
    container_name: news-app
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: npm run start
    depends_on:
      - postgres

  postgres:
    container_name: news-db
    image: postgres:14-alpine
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'

volumes:
  postgres_data:
